body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size:40px;
}
.orange-colour{
    color: chocolate;
}
.flexible-Container{
    display: flex;
    margin-bottom: 50px;
}


.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: floralwhite;
    font-weight: 700;
    border-radius: 5px;
}


.dream-big{
    background-image: url(shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 15%;
    padding-top: 100px;
    background-position: left 20px;
 
}



.experience-area{
    background-image: url(shapes/shape-5.png);
    background-repeat: no-repeat;
    background-size: 15%;
    padding-top: 0px;
    background-position: right 20px;
}
#border-image-right{
    border-left: 5px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice:1 ;
}
#border-image-left{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1 ;
}
footer{
    border-top: 5px solid;
    background-color: rgb(171, 92, 202);
    padding-bottom: 15px;
    padding-top: 15px;
}


.flex{
    display: flex;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

  #three{
    text-align: center;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}

.bordar-1{
    
    width: 25%;
    border-radius: 10px;
    background-image: linear-gradient(red, yellow, orange);
    height: 30%;
    margin-left: 120px;
    
}
.bordar-2{
    
    width: 25%;
    border-radius: 10px;
    background-image: linear-gradient(blue, lightblue, cyan);
    height: 30%;
    margin-left: 45px;
    
}
.bordar-3{
    
    width: 25%;
    border-radius: 10px;
    background-image: linear-gradient(purple, rgb(255, 193, 255), pink);
    height: 30%;
    margin-left: 45px;
    
}
.bordar-1 img{
    width: 50%;
    
}
.bordar-2 img{
    width: 50%;
    
}
.bordar-3 img{
    width: 50%;
    
}



.link-button2{
    text-decoration: none;
    background-image: linear-gradient(rgba(0, 255, 157, 0.568),rgb(176, 185, 126));
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
}

.background-1{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    padding-top: 100px;
    background-position: left 220px;
    
}
.background-2{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    padding-top: 100px;
    background-position: right 220px;
    padding-bottom: 10%;
    
}
.background-3{
    background-image: url(shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 55%;
    padding-top: 10px;
    background-position: left 20px;
    padding-bottom: 10%;
    
}

.frist{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;

}

